<div class="row">
  <div class="col-md-6 col-md-offset-3">


  <p> <b>Q.<b/> <b><%= @question.description %></b> </p>



  <%= form_tag controller: "plays", action: "answer", method: :post do %>
  <br>
    <%= text_field :answer, autofocus: true, class: 'form-control' %>
    <br>
   <%= submit_tag "Submit", class: 'btn btn-primary' %>

  <% end %>

</div>
</div>
